.card {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 0;
  display: block;
}

.card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 96%;
  border: 5px solid transparent;
  transition: all 0.4s ease;
}

.card:hover .overlay {
  border: 5px solid rgb(255, 58, 58);
}

.inner-card-controls{
  opacity: 0;
  text-decoration: none;
  color: white;
}

.card:hover .inner-card-controls {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease;
  position: absolute;
}


.details {
  display: block;
  text-align: center;
  justify-content: center;
  background-color: rgb(229, 160, 160);
  width: 200px;
  height: 250px;
}

.name {
  text-shadow:rgb(0, 0, 0) 1px 1px 5px;
  color:rgb(255, 255, 255);
  background-color: transparent;
  text-align: center;
  position: absolute;
  bottom:170px;
  left: 5px;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.id {
  text-shadow:rgb(0, 0, 0) 1px 1px 5px;
  color:white;
  text-align: center;
  position: absolute;
  bottom: 190px;
  left: 5px;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lastName {
  text-shadow:rgb(0, 0, 0) 1px 1px 5px;
  color:rgb(255, 255, 255);
  background-color: transparent;
  text-align: center;
  position: absolute;
  bottom: 150px;
  left: 5px;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  text-shadow:rgb(0, 0, 0) 1px 1px 5px;
  color:rgb(255, 255, 255);
  background-color: transparent;
  text-align: center;
  position: absolute;
  bottom: 100px;
  left: 5px;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ctrl-btn {
  background-color: red;
  color: white;
}
